

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>【西安二手车市场价格及图片】西安二手车报价-优信二手车</title>
        <meta http-equiv="Access-Control-Allow-Origin" content="http://car.xin.com">
        <meta name="keywords" content="西安二手车,西安二手车报价,西安二手车图片">
        <meta name="description" content="优信西安二手车频道，提供西安二手车市场价格，分析最新西安二手车报价情况，海量西安二手车精美图片展示，优质车源，诚信之选，上优信二手车">
            <meta name="location" content="province=陕西;city=西安;coord=108.9401740,34.3415680">
                <meta property="qc:admins" content="151402520760166375">
        <meta name="mobile-agent" content="format=html5;url=https://m.xin.com/xian/s/">
        <link rel="canonical" href="../css/css">
        
                        <script type="text/javascript" src="../js/base_df8d05c.js"></script>
<script type="text/javascript" src="../js/popup_0d16b22.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min_d8eab49.js"></script>
<script type="text/javascript" src="../js/main_page_07e720d.js"></script>
<script type="text/javascript" src="../js/get_allcity_647052a.js"></script>
<script type="text/javascript" src="../js/carlist_02b3b63.js"></script>

        <!-- <script id="mainPageScript" src="static/js/main_page-17112101.js" data-no-location=""></script> -->

    <link rel="stylesheet" type="text/css" href="../css/base_38cbdce.css">
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min_30e3a6d.css">
        <link rel="stylesheet" type="text/css" href="../css/base_6dd6a03.css">
        <link rel="stylesheet" type="text/css" href="../css/common_d1d47eb.css">
        <link rel="stylesheet" type="text/css" href="../css/carlist_fa38a6b.css">
        <link rel="stylesheet" type="text/css" href="../css/footer_69ae9ad.css">
    </head>
    
            
    <body>


<div style="width:1210px;margin:0 auto;" class="ad-banner-markpic">
    <script type="text/panda" os="pc" page="f_c_list" pos="t_banner"></script>
</div>



<div class="car-sale-wrap sale07">
	
	
<div class="main search-opt searchOpt170707">
    
    <div class="search" id="switchCarShop">
        <div class="switch" style="display:none;">
            <input class="Sitem" type="button" value="车辆" readonly="">
            <b></b>
            <ul>
                <li class="select-car">车辆</li>
                <li class="select-shop">店铺</li>
            </ul>
        </div>
        <input type="text" value="" data-default="搜索您想要的车" placeholder="搜索您想要的车" class="entry-box s-input fl js-search-from-page" id="search_search" name="q" data-addtop="+6" data-addwidth="36" data-carcount="1">
        <a href="javascript:;" class="s-btn" for='search_search'></a>
    </div>
    

    
	<!--新增面包屑位置-->
<div class="select-result">
    <div class="miaobaoxie">
        <span>您的位置：</span>
        <div id="mb" class="mianbaoxie-box">
            <a href="javascript:;">首页</a>
            <b>&gt;</b><a href="index.html">西安二手车</a>
            <b>&gt;</b><a href="">
            <h1>西安二手车报价</h1>            </a>
                    </div>
    </div>
</div>
<!--新增面包屑end-->

    <form action="" method="post" id="searchForm">

<div class="select select-filter select170707">

    <div class="select-con">
        <dl id="select1" class="searchLabel clearfix">
            <dt class="bg1" id="brand_data" data-brand="">品牌:</dt>
            <dd class="select-all selected">

            </dd>
            <div class="frame-brand  PopBox_hidden_b">
                <div class="uptop"></div>

                <ul class="brand-cars clearfix"></ul>
            </div>
        </dl>
    </div>



    <div class="select-con">


        <dl id="seriesDefault" class="searchLabel clearfix">
            <dt class="bg2">车系:</dt>
            <dd class="select-all selected"><a data-for="hidden_p" data-valueid="0">不限</a></dd>
        </dl>

        <a href="javascript:;" class="more system-more TipBtn TipBtn_hidden_s" style="display:none" onclick="hmt_search('serial')">更多<b class="searched-ico more-ico"></b></a>
    </div>






    <div class="select-con">
        <dl id="select3" class="searchLabel">
            <dt class="bg3">价格:</dt>
            <dd class="select-all selected"><a data-for="hidden_p" data-valueid="0">不限</a></dd>
                            <dd>
                <a href="index20.html" data-for="hidden_p" data-valueid="0-3" title="3万以下二手车" class="preventdefault">3万以下</a>
                </dd>
                            <dd>
                <a href="index21.html" data-for="hidden_p" data-valueid="3-5" title="3-5万二手车" class="preventdefault">3-5万</a>
                </dd>
                            <dd>
                <a href="index22.html" data-for="hidden_p" data-valueid="5-8" title="5-8万二手车" class="preventdefault">5-8万</a>
                </dd>
                            <dd>
                <a href="index23.html" data-for="hidden_p" data-valueid="8-10" title="8-10万二手车" class="preventdefault">8-10万</a>
                </dd>
                            <dd>
                <a href="javascript:;" data-for="hidden_p" data-valueid="10-15" title="10-15万二手车" class="preventdefault">10-15万</a>
                </dd>
                            <dd>
                <a href="javascript:;" data-for="hidden_p" data-valueid="15-20" title="15-20万二手车" class="preventdefault">15-20万</a>
                </dd>
                            <dd>
                <a href="index25.html" data-for="hidden_p" data-valueid="20-30" title="20-30万二手车" class="preventdefault">20-30万</a>
                </dd>
                            <dd>
                <a href="javascript:;" data-for="hidden_p" data-valueid="30-50" title="30-50万二手车" class="preventdefault">30-50万</a>
                </dd>
                            <dd>
                <a href="javascript:;" data-for="hidden_p" data-valueid="50-" title="50万以上二手车" class="preventdefault">50万以上</a>
                </dd>

        </dl>
        <div class="price-handle other-price clearfix">
            <div class="box">
                <input type="text" name="price_s" id="price_s" value="" class="txt" maxlength="12">万
            </div>
            <em>-</em>
            <div class="box">
                <input type="text" class="txt" name="price_e" id="price_e" value="">万
            </div>
            <a id="customer_price" class="confirm-btn" maxlength="12">确定</a><span id="other-price-error" class="error" style="display:none">请输入正确的价格</span>
        </div>
    </div>

     <!--seo不显示此选项卡  不设置此值则显示-->
    <div class="select-con">
        <dl>
            <dt class="bg4">其他:</dt>
            </ul>
        </dl>
    </div>
	</div>

    </form>
    </div>



<!-- 买车页 -->
<div class="car-up mb20 carUp07">
    <div class="opt" id="search_sort">
        <span class="opt-tab">
        <a name="view_v" href="javascript:;" data-for="hidden_v" data-v="1" class="view_v active">
                            <h4>全部车源(111128)</h4>
                    </a><!--seo设置seo_carlist_title显示seo标题，不设置显示默认-->
        <a name="view_v" href="javascript:;" data-for="hidden_v" data-v="20" class="view_v ">
            <h4>一成购</h4></a>
        <!--        <a name="view_v" href="//www.xin.com/xian/sn_v20/" data-for = "hidden_v" data-v = "20" class="view_v ">
            <h4>一成购</h4></a>
            -->
        <a name="view_v" data-v="71" href="javascript:;" data-for="hidden_v" class="view_v ">
            <h4>优信金牌认证</h4>
        </a>
        <a name="view_v" data-v="72" href="javascript:;" data-for="hidden_v" class="view_v ">
            <h4>优信银牌认证</h4>
        </a>
        <a name="view_v" href="javascript:;" data-for="hidden_v" data-v="21" class="view_v ">
            <h4>超值</h4>
        </a>
        <a name="view_v" href="javascript:;" data-for="hidden_v" data-v="22" class="view_v ">
            <h4>视频检测</h4>
        </a>
        <a name="view_n" data-n="4" href="javascript:;" data-for="hidden_n" class="view_v ">
            <h4>VR</h4>
        </a>
        </span>
        
        		 <!--seo不显示此排序  不设置此值则显示-->
        <span class="opt-sort">
            <a name="view_a" data-down="10" data-up="10" class="view_a pd">默认排序</a>
            <a name="view_a" data-down="15" data-up="16" class="view_a " title="最新上架二手车">最新<i class=""></i></a>
            <a name="view_a" data-down="5" data-up="6" class="view_a ">车龄<i class=""></i></a>
                                                 <a name="view_a" data-down="25" data-up="24" class="view_a ">价格<i class=""></i></a>
                
                            <a name="view_a" data-down="8" data-up="7" class="view_a ">里程<i class=""></i></a>
               
                <a name="view_a" data-down="999" data-up="999" class="view_a sort-last pd">提车最快</a>
              
        </span>
        <span class="opt-switch">
            <a name="view_o" data-o="2" class="view_o tab-rank vtc active"></a>
            <a name="view_o" data-o="1" class="view_o tab-list crs "></a>
        </span>
		    </div>
</div>

	

	

</div>






















        

<div class="n_f_m">
    <div class="n_f_m_c">
        <a href="index51.html" rel="nofollow">关于我们</a>
        
        <a href="index52.html" rel="nofollow">加入我们</a>
        <a href="index53.html" rel="nofollow">帮助中心</a>
        <a href="index54.html" rel="nofollow">用户反馈</a>
        <!-- <a href="http://dealer.xin.com/login/" id="apply_dealer" rel="nofollow" nopass="1">商家申请</a> -->
        <!-- <a href="http://www.youxinjinrong.com/" rel="nofollow" nopass="1">优信易购</a> -->
		<a href="sitemap.html">网站地图</a>
        <a href="index55.html" class="@nav-btn">Investors</a>
        <!-- <a href="https://www.xin.com/aboutus/index/16/" class="@nav-btn">公告</a> -->
        <a href="index56.html" class="@nav-btn">检测设备介绍</a>
        
        <div class="n_f_m_wx">
            <img src="../picture/default.png" data-original="../picture/code-17112101.jpg" height="100" width="100">
            <p>
                <span class="n_f_m_tit0">微信公众号</span><br>
                <span class="n_f_m_tit1">资讯动态早知道</span>
            </p>
        </div>
        <div class="n_f_m_app">
            <img src="../picture/default.png" data-original="../picture/1001.jpg" height="100" width="100">
            <p>
            <span class="n_f_m_tit0">APP下载</span><br>
            <span class="n_f_m_tit1">车源更新不错过</span>
            </p>
        </div>
    </div>
        <div class="n_f_m_s">
    <h5 class="n_f_m_title">周边城市：</h5>
                                        <a href="javascript:;" target="_blank">
                    <h3>北海二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>成都二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>合肥二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>济南二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>上海二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>太原二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>台州二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>武汉二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>徐州二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>榆林二手车报价</h3>
                </a>
                        
    <b class="n_f_m_more"></b>
</div>
<div class="n_f_m_s">
    <h5 class="n_f_m_title">热门城市：</h5>
                                        <a href="index.html" target="_blank">
                    <h3>二手车交易市场</h3>
                </a>
                                                            <a href="" target="_blank">
                    <h3>二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>临清二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>惠民二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>博兴二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>邹平二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>成武二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>巨野二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>郓城二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>鄄城二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>东明二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>中牟二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>荥阳二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>新密二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>登封二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>通许二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>新安二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>汝阳二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>伊川二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>偃师二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>汤阴二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>浚县二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>新乡县二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>延津二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>封丘二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>卫辉二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>辉县二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>沁阳二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>范县二手车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank">
                    <h3>台前二手车报价</h3>
                </a>
                        
    <b class="n_f_m_more"></b>
</div>
<div class="n_f_m_s">
    <h5 class="n_f_m_title">二手车推荐：</h5>
                                        <a href="2c682140ac.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="4f1aac5ee6.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="8a05573703.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="9404e6b6a8.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="701e223f44.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="0ab1fdcb9f.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="255615d2c3.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="fdacdcbf6b.html" target="_blank">
                    <h3>本地二手车</h3>
                </a>
                                                            <a href="45005abdd1.html" target="_blank">
                    <h3>二手车价格</h3>
                </a>
                                                            <a href="9a665b82dc.html" target="_blank">
                    <h3>二手车价格</h3>
                </a>
                                                            <a href="0abcdd08a4.html" target="_blank">
                    <h3>2万左右二手车奥轩G5</h3>
                </a>
                                                            <a href="495b1c86e3.html" target="_blank">
                    <h3>2万左右二手车埃尔法</h3>
                </a>
                                                            <a href="b334dd20db.html" target="_blank">
                    <h3>2万左右二手车M6</h3>
                </a>
                                                            <a href="9afd95125c.html" target="_blank">
                    <h3>2万左右二手车QQ</h3>
                </a>
                                                            <a href="bf85c5f9c4.html" target="_blank">
                    <h3>2万左右二手车CX-7</h3>
                </a>
                                                            <a href="3e7b0fbdce.html" target="_blank">
                    <h3>2万左右二手车S3</h3>
                </a>
                                                            <a href="98d05ca608.html" target="_blank">
                    <h3>2万左右二手车ix35</h3>
                </a>
                                                            <a href="80d24f018a.html" target="_blank">
                    <h3>2万左右二手车风光S560</h3>
                </a>
                                                            <a href="380b66ff2f.html" target="_blank">
                    <h3>2万左右二手车T300</h3>
                </a>
                                                            <a href="faaf2d65c1.html" target="_blank">
                    <h3>2万左右二手车瑞驰K5</h3>
                </a>
                                                            <a href="149d1f4b79.html" target="_blank">
                    <h3>2万左右二手车帅豹</h3>
                </a>
                                                            <a href="83e50b9a0a.html" target="_blank">
                    <h3>2万左右二手车Eos</h3>
                </a>
                                                            <a href="f21bdd942c.html" target="_blank">
                    <h3>2万左右二手车大切诺基 SRT</h3>
                </a>
                                                            <a href="229ed98dfb.html" target="_blank">
                    <h3>2万左右二手车科鲁兹</h3>
                </a>
                                                            <a href="fb457e1dff.html" target="_blank">
                    <h3>2万左右二手车M3</h3>
                </a>
                                                            <a href="efa052f4f4.html" target="_blank">
                    <h3>2万左右二手车伊柯丽斯</h3>
                </a>
                                                            <a href="8eb9565a91.html" target="_blank">
                    <h3>2万左右二手车欧蓝德</h3>
                </a>
                                                            <a href="bc0a8fcb8a.html" target="_blank">
                    <h3>2万左右二手车星光</h3>
                </a>
                                                            <a href="60ed698746.html" target="_blank">
                    <h3>2万左右二手车Paceman</h3>
                </a>
                                                            <a href="4c0cad1ab3.html" target="_blank">
                    <h3>2万左右二手车XF</h3>
                </a>
                        
    <b class="n_f_m_more"></b>
</div>
<div class="n_f_m_s">
    <h5 class="n_f_m_title">友情链接：</h5>
                                        <a href="javascript:;" target="_blank" nopass="1">
                    <h3>西安画室</h3>
                </a>
                                                            <a href="javascript:;" target="_blank" nopass="1">
                    <h3>西安公司大全</h3>
                </a>
                                                            <a href="javascript:;" target="_blank" nopass="1">
                    <h3>密封胶</h3>
                </a>
                                                            <a href="javascript:;" target="_blank" nopass="1">
                    <h3>西安汽车维修</h3>
                </a>
                                                            <a href="javascript:;" target="_blank" nopass="1">
                    <h3>西安贷款</h3>
                </a>
                                                            <a href="javascript:;" target="_blank" nopass="1">
                    <h3>西安汽车报价</h3>
                </a>
                                                            <a href="javascript:;" target="_blank" nopass="1">
                    <h3>常州汽车站时刻表</h3>
                </a>
                                                            <a href="javascript:;" target="_blank" nopass="1">
                    <h3>西安车展</h3>
                </a>
                                                            <a href="f7f4d2fa65.html" target="_blank" nopass="1">
                    <h3>更多</h3>
                </a>
                        
    <b class="n_f_m_more"></b>
</div>

<div class="n_f_m_desc">西安二手车价格，西安最新二手车报价，西安二手车估价计算，海量优质西安二手车源供您选择，西安二手车交易市场，315项全方位深度二手车检测，让你购买一辆放心的西安二手车，选择优信二手车，<a href="javascript:;">西安二手车触屏版</a>。
    <b class="n_f_m_more"></b>
</div>

        <div class="n_f_m_i">
        <p>业务合作单位：优信拍（北京）二手车鉴定评估有限公司</p>
        <p>权利声明：本网站对展示的车辆信息、检测报告、视频、图片等内容享有合法权利，属于优信集团的重要经营资源，未经许可，不得非法转载、复制等方式使用。</p>
        <p>Copyright © 2015-2019 优估 All Rights Reserved    版权所有 优估(上海) 信息科技有限公司<a href="javascript:;" class="tel">联系电话：021-10106088</a></p>
        <p class="n_f_m_b">
            <a rel="nofollow" href="javascript:;" nopass="1" target="window">沪ICP备15036207号-2</a>
            <a rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img data-original="../picture/gongan.png" src="../picture/default.png" width="20" height="20"> 京公网安备 11010502034103号</a>
            <a rel="nofollow" href="javascript:;">沪通信管自贸【2018】21号</a>
            <a href="javascript:;" target="_blank">
                广播电视节目制作经营许可证：（京）字第07856号
            </a>
            <a href="javascript:;" target="_blank">
                网络文化经营许可证：京网文【2017】 4097-460号
            </a>
        </p>
        <div class="n_f_m_credit">
            <a rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img data-original="../picture/url_wx-17112101.png" src="../picture/default.png" width="117" height="42"></a>
            <a rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img data-original="../picture/knetSealLogo.png" src="../picture/default.png" width="117" height="42"></a>
            <a rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img data-original="../picture/bot_logo2.png" src="../picture/default.png" width="117" height="42"></a>
            <a rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img data-original="../picture/bot_logo3.png" src="../picture/default.png" width="117" height="42"></a>
            <a rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img data-original="../picture/5c35686b00ead372284.png" src="../picture/default.png" style="width:auto;"></a>
        </div>
    </div>
</div>












    </body>
</html>
