.fyb-banner
{width:100%;height:367px;margin:0 auto;background:url(../image/banner2_1ef1079-1611101801.jpg) no-repeat center center}
.fyb-intro
{width:1100px;margin:0 auto;border-bottom:1px solid #f2efea;padding:30px 0}
.fyb-intro>p
{width:252px;border:1px solid #f2efea;text-align:center;display:inline-block}
.fyb-intro>p>span
{display:block}
.fyb-intro>p+p
{margin-left:23px}
.fyb-intro-row1
{font-size:24px;font-weight:700;color:#333;padding-top:40px}
.fyb-intro-row2
{height:127px;margin:25px auto;background:url(../image/fyb-intro-icon_60e5a27.png) no-repeat}
.fyb-intro-row3
{font-size:14px;color:#666;padding-bottom:25px}
.fyb-intro-col1 .fyb-intro-row2
{width:150px;background-position:-7px 13px}
.fyb-intro-col2 .fyb-intro-row2
{width:160px;background-position:0 -118px}
.fyb-intro-col3 .fyb-intro-row2
{width:123px;background-position:-6px -262px}
.fyb-intro-col4 .fyb-intro-row2
{width:172px;background-position:0 -407px}
.fyb-detail
{width:1100px;margin:0 auto}
.fyb-detail-tit
{font-size:30px;color:#333;height:90px;line-height:90px;border-bottom:1px solid #f2efea;padding-left:40px;background:url(../image/fyb-intro-icon_60e5a27-11.png) 10px -808px no-repeat}
.fyb-detail>div
{font-size:0;border-bottom:1px solid #f2efea;height:196px;vertical-align:middle}
.fyb-detail>div>p
{display:inline-block}
.fyb-detail-col1
{width:230px;font-size:40px;color:#ff5a37;font-weight:700;text-align:center;vertical-align:2px}
.fyb-detail-col1 i
{display:block;margin-top:3px;width:100%;height:12px;background:url(../image/fyb-intro-icon_60e5a27-11.png) 58px -788px no-repeat}
.fyb-detail-col2
{width:280px;padding-left:50px;line-height:33px;font-size:18px;vertical-align:-14px}
.fyb-detail-col2>span
{display:block;color:#585858}
.fyb-detail-col2>span>em
{color:#ff5a37}
.fyb-detail-col3
{width:250px;font-size:14px;color:#b2b2b2;line-height:33px;padding:0 25px}
.fyb-detail-col3.change-v1{vertical-align:-16px}
.fyb-detail-col3.change-v2{vertical-align:-30px}
.fyb-detail-col3.change-v3{vertical-align:-28px}
.fyb-detail-col4
{width:180px;padding:50px 0 50px 60px}
.fyb-detail-col4>a
{color:#fff;display:block;border-radius:5px;text-align:center;height:30px;line-height:30px}
.fyb-detail-col4-btn1
{background-color:#ff9b37;font-size:14px}
.fyb-detail-col4-btn2
{background-color:#ff5837;font-size:16px;margin-top:35px}
.fyb-flow
{background-color:#f3f3f3;width:1100px;margin:35px auto}
.fyb-flow-tit
{text-align:center;font-size:30px;color:#333;font-weight:700;padding-top:30px}
.fyb-flow-tit-line
{display:inline-block;width:200px;height:1px;margin:21px 25px 0;vertical-align:top;background-color:#ff5741}
.fyb-flow-serial
{height:80px;margin:60px 130px;background:url(../image/fyb-intro-icon_60e5a27-11.png) 3px -699px no-repeat}
.fyb-flow>dl
{font-size:0}
.fyb-flow>dl>dd
{width:286px;height:203px;vertical-align:top;padding:0 40px;display:inline-block}
.fyb-flow-col1
{color:#ff5837;font-size:24px;text-align:center}
.fyb-flow-col2
{color:#585858;font-size:18px;padding:50px 0}
.fyb-yxrz
{width:1100px;margin:0 auto}
.fyb-yxrz-tit{font-size:30px;color:#333;height:90px;line-height:90px;border-width:1px;border-style:solid;border-color:#f2efea transparent;padding-left:40px;background:url(../image/fyb-intro-icon_60e5a27-11.png) 10px -808px no-repeat}
.fyb-yxrz-content
{width:1060px;height:420px;margin:20px auto;padding-top:214px;background:url(../image/yx_bg_424a105-12.jpg) no-repeat}
.fyb-yxrz-text
{text-align:center;font-size:16px;color:#333;margin-top:20px}
.fyb-yxrz-reportlist
{height:auto;overflow:hidden;margin:40px 170px;text-align:center;font-size:0}
.fyb-yxrz-reportlist
{height:auto;overflow:hidden;margin:30px 135px;text-align:center;font-size:0}
.fyb-yxrz-reportlist dd
{display:inline-block;width:16.66%;font-size:14px;color:#333}
.fyb-yxrz-reportlist img
{display:block;margin:0 auto;padding-bottom:10px}
.fyb-yxrz-gclc
{font-size:16px;color:#666;text-align:center}
.fyb-yxrz-gclc i
{display:inline-block;width:82px;border-top:1px dotted #ccc;margin:0 15px 6px}
.fyb-yxrz-lc
{width:750px;margin:10px auto 0;color:#999;font-size:14px;line-height:32px;text-align:center}
.fyb-yxrz-lc i
{display:inline-block;color:#f9bfb4;font-style:normal;vertical-align:top;margin-left:0 3px 0 6px}
.fyb-yxrz-note
{padding-top:35px;color:#bcc9dc;font-size:14px;text-align:center}
.fyb-op
{width:1020px;margin:70px auto;font-size:0}
.fyb-op>a
{display:block;height:75px;width:415px;line-height:75px;border-radius:5px;text-align:center;color:#fff;font-size:30px;background-color:#ff582f;margin:0 auto}
.fyb-op>a+a
{margin-left:190px}
.fyb-zxdh
{position:fixed;padding-left:75px;font-size:16px;color:#5e5e5e;top:367px;height:73px;line-height:73px;width:220px;right:0;z-index:1;cursor:pointer;background:url(../image/fyb-intro-icon_60e5a27-11.png) -5px -619px no-repeat}
.fyb-zxdh.fyb-select
{background-position:-6px -533px}
.fyb-zxdh-phone
{display:none}
.fyb-zxdh.fyb-select .fyb-zxdh-tit
{display:none}
.fyb-zxdh.fyb-select .fyb-zxdh-phone
{display:inline}
.fyb-ewm
{border:2px solid #f4f4f4;background-color:#fff;display:none;position:absolute;padding:15px;font-size:14px;color:#999;width:155px;text-align:center}
.fyb-ewm>i,.fyb-ewm>em
{display:block;position:absolute;top:20px;right:-20px;height:0;width:0;border-width:10px;border-style:solid}
.fyb-ewm>em
{right:-17px;border-color:transparent transparent transparent #fff}
.fyb-ewm>i
{border-color:transparent transparent transparent #f4f4f4}
.fyb-ewm>img
{width:100%;margin-bottom:3px}
.fyb-ewm>p
{padding-top:8px}
.fyb-pop-ewm
{display:none;border:1px solid #e5e5e5;position:absolute;color:#999;font-size:18px;width:715px;height:488px;text-align:center;z-index:101;background-color:#fff}
.fyb-pop-tit
{height:55px;background-color:#f5f5f5}
.fyb-pop-tit>i
{display:block;cursor:pointer;float:right;width:27px;height:24px;margin:15px 20px 0 0;background:url(../image/fyb-intro-icon_60e5a27.png) 0 -914px no-repeat}
.fyb-pop-ewm>img
{width:238px;padding-top:40px}
.fyb-pop-ewm>p
{padding-top:60px}