    <!DOCTYPE html>
    <html>    <head><meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><title>【卖车】卖车估价_快速出售二手车-优信二手车</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="keywords" content="卖车估价,快速出售二手车">
<meta name="description" content="想要快速出售二手车，担心卖的低想要精准二手车卖车估价，高收益快速二手车买卖，上优信二手车">
<meta name="viewport" content="width=1210,initial-scale=1.0">
<meta property="qc:admins" content="151402520760166375">


<link rel="canonical" href="../css/css">
                        <!--[if IE]>
<script src="../js/polyfill_a2be313.js"></script>
<![endif]-->
<script>
         window.__ab2__ = {
            pid: 'u2_5'
        }
        window.jsvar = {
            rsaPublicKey:'MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDQ4cGnnWenRjInefoHxp99woyN0kLTAKlgSaHuZ+AlW4tfQud+4MWxk2gq36854XO6XJ4E2py0F3Xi9Kf+uI+7Xv78F4UUiJ3slsBlGp7ywihEXE/Awo+m4t+NKx7foh2jIMbDoVGjTNNORiPVqI8rHWURZUUljQqbbWqZHXkSWwIDAQAB'
        };
        window.__json4fe__ = {
            city : {"cityid":"2301","areaid":"3","big_areaid":"2","provinceid":"23","cityname":"\u897f\u5b89","ename":"xian","shortname":"XA","service":"1","near":"604,2501,101,2101,2401,2201,3015,1201,1518,2304","tianrun_code":"029","zhigou":"1","is_visit":"1","longitude":"108.9401740","latitude":"34.3415680","city_rank":"10","city_group":"6","is_gold_partner":"-1","direct_rent_support":"1","salvaged_support":"1","isshow_c":"1","is_lease_back":"1","mortgage_service_fee":"60000","is_small_pub_house":"0","is_wz_mortgage":"1","is_purchase_direct":"1","is_purchase_origin":"1","is_ms_ex":"0","is_ms_trans":"0","updatetime":"2019-09-30 18:46:17"},
            //这个ename在top_load接口中使用的，现在还不能删除
            ename : "xian"
        };
        /*window.__json4fe__.all = { };
        window.__json4fe__.hot = { };*/
        window.__json4fe__.query = '/';
        window.__json4fe__.c2bo_city_cityname = '西安';
        window.__json4fe__.c2bo_city_tag = '1';
        window.__json4fe__.http = 'https://openapix.xin.com';
        window.__json4fe__.sn = '259521e454db6e9c00d8b747b206d71b';
    </script>
        <script>
// 百度统计代码，所有页面都需要植入，植入位置/head前;
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ae57612a280420ca44598b857c8a9712";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>    <link rel="stylesheet" type="text/css" href="../css/base_38cbdce.css"><link rel="stylesheet" type="text/css" href="../css/c2b_car_sale_new_4e5523d.css"></head>            <body>                <div class="MD-common-header-header-wrap  ">
<div class="MD-common-header-header">
<h1>
<a href="index.html" class="MD-common-header-logo"><span style="visibility:hidden;">二手车</span></a>
</h1>
<div class="MD-common-header-city">
<a href="javascript:;" id="current_city_id" class="MD-common-header-cityname">
               西安            <i class="MD-common-header-icon"></i>
</a>
</div>
<div class="MD-common-header-login-wrap"></div>
<div class="MD-common-header-nav">
<a href="index.html" class="" rel="nofollow">首页</a>
<a href="index1.html" class="" rel="nofollow" title="购买二手车" uxevent="/w_top/buycar">买车</a>
<a href="" class="MD-common-header-active" rel="nofollow" title="二手车出售" uxevent="w_top/c2bsell">卖车</a>
<a href="index3.html" class="" rel="nofollow" title="首付一半 分期付款" uxevent="w_top/halfprice">分期购</a>
<a href="index4.html" class="" rel="nofollow" title="知心推荐 问题答疑" uxevent="/w_top/question">宝典</a>
<a href="../zyfpage/toIndex5" class="" rel="nofollow" title="优信二手车服务保障" uxevent="w_top/service">服务保障</a>
<a href="index6.html" rel="nofollow" title="优信二手车手机APP" uxevent="/w_top/dl_app">APP下载</a>
</div>
</div>
</div>
    <div class="body">
<div class="MD-c2b_sale_new-c2b_car_sale-p-car-sale">
<div class="MD-c2b_sale_new-c2b_car_sale_top-p-car-sale">
<div class="MD-c2b_sale_new-c2b_car_sale_top-head">
<div class="MD-c2b_sale_new-c2b_car_sale_top-head-content">
<div class="MD-c2b_sale_new-c2b_car_sale_top-con-right-btn">
<span class="MD-c2b_sale_new-c2b_car_sale_top-s1"><label class="MD-c2b_sale_new-c2b_car_sale_top-randomNum">000000</label></span>
<span class="MD-c2b_sale_new-c2b_car_sale_top-s2">辆车成功在优信售出</span>
<a abevent="sellcar_c2b" href="../zyfpage/toSellCar" class="MD-c2b_sale_new-c2b_car_sale_top-jp-appointment-link MD-c2b_sale_new-c2b_car_sale_top-btn MD-c2b_sale_new-c2b_car_sale_top-car-btn">预约卖车</a>
<a abevent="evaluate_c2b" href="../zyfpage/toSellCar" class="MD-c2b_sale_new-c2b_car_sale_top-btn MD-c2b_sale_new-c2b_car_sale_top-price-btn">先估个价</a>
<span class="MD-c2b_sale_new-c2b_car_sale_top-tel">咨询电话：400-613-1628</span>
</div>
</div>
</div>
</div>
    <div class="MD-c2b_sale_new-carousel-list-carousel-list">
<div class="MD-c2b_sale_new-carousel-list-wrap">
<div class="MD-c2b_sale_new-carousel-list-text-box">
</div>
<div class="MD-c2b_sale_new-carousel-list-carousel-slider">
<div class="MD-c2b_sale_new-carousel-list-slider-content">
<div class="MD-c2b_sale_new-carousel-list-slider-inside">
<ul>
<li class="MD-c2b_sale_new-carousel-list-item">
<div class="MD-c2b_sale_new-carousel-list-carinf">
<span class="MD-c2b_sale_new-carousel-list-img-box"><img src="../picture/5b42d147a55ad829016.jpg" onerror="this.src='//s6.xinstatic.com/www/img/default.png'"></span>
<div class="MD-c2b_sale_new-carousel-list-car-content">
<p class="MD-c2b_sale_new-carousel-list-txt-panel"><span class="MD-c2b_sale_new-carousel-list-cityname">天津</span>&nbsp;&nbsp;吕先生&nbsp;&nbsp;近期成交</p>
<p class="MD-c2b_sale_new-carousel-list-carname">现代/索纳塔/2015款 1.6T 自动 GLS智能型</p>
<p class="MD-c2b_sale_new-carousel-list-year-mile">2016年&nbsp;/&nbsp;8.88万公里</p>
</div>
</div>
<div class="MD-c2b_sale_new-carousel-list-quotation-city">
<p class="MD-c2b_sale_new-carousel-list-quotation-text">相比天津本地报价</p>
<div class="MD-c2b_sale_new-carousel-list-colum02">
                                            <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">株洲</span>报价多25%</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text MD-c2b_sale_new-carousel-list-change-fz">
<span class="MD-c2b_sale_new-carousel-list-special-panel">茂名</span>报价多25%<span class="MD-c2b_sale_new-carousel-list-deal">成交</span>
</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">太原</span>报价多25%</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">常州</span>报价多25%</p>
                                        </div>
<div>
</div></div></li><li class="MD-c2b_sale_new-carousel-list-item">
<div class="MD-c2b_sale_new-carousel-list-carinf">
<span class="MD-c2b_sale_new-carousel-list-img-box"><img src="../picture/5b44530cd8fb7437086.jpg" onerror="this.src='//s6.xinstatic.com/www/img/default.png'"></span>
<div class="MD-c2b_sale_new-carousel-list-car-content">
<p class="MD-c2b_sale_new-carousel-list-txt-panel"><span class="MD-c2b_sale_new-carousel-list-cityname">北京</span>&nbsp;&nbsp;李先生&nbsp;&nbsp;近期成交</p>
<p class="MD-c2b_sale_new-carousel-list-carname">日产/奇骏/2014款 2.0 自动 XL舒适版前驱</p>
<p class="MD-c2b_sale_new-carousel-list-year-mile">2015年&nbsp;/&nbsp;5.97万公里</p>
</div>
</div>
<div class="MD-c2b_sale_new-carousel-list-quotation-city">
<p class="MD-c2b_sale_new-carousel-list-quotation-text">相比北京本地报价</p>
<div class="MD-c2b_sale_new-carousel-list-colum02">
                                            <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">茂名</span>报价多25%</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">台州</span>报价多25%</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text MD-c2b_sale_new-carousel-list-change-fz">
<span class="MD-c2b_sale_new-carousel-list-special-panel">绵阳</span>报价多25%<span class="MD-c2b_sale_new-carousel-list-deal">成交</span>
</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">淄博</span>报价多25%</p>
                                        </div>
<div>
</div></div></li><li class="MD-c2b_sale_new-carousel-list-item">
<div class="MD-c2b_sale_new-carousel-list-carinf">
<span class="MD-c2b_sale_new-carousel-list-img-box"><img src="../picture/5b404ecf18a2e804665.jpg" onerror="this.src='//s6.xinstatic.com/www/img/default.png'"></span>
<div class="MD-c2b_sale_new-carousel-list-car-content">
<p class="MD-c2b_sale_new-carousel-list-txt-panel"><span class="MD-c2b_sale_new-carousel-list-cityname">深圳</span>&nbsp;&nbsp;邹先生&nbsp;&nbsp;近期成交</p>
<p class="MD-c2b_sale_new-carousel-list-carname">奔驰/GLK级/2015款 3.0 自动 GLK300时尚型极致版</p>
<p class="MD-c2b_sale_new-carousel-list-year-mile">2015年&nbsp;/&nbsp;3.72万公里</p>
</div>
</div>
<div class="MD-c2b_sale_new-carousel-list-quotation-city">
<p class="MD-c2b_sale_new-carousel-list-quotation-text">相比深圳本地报价</p>
<div class="MD-c2b_sale_new-carousel-list-colum02">
                                            <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">杭州</span>报价多0%</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">盐城</span>报价多6%</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text MD-c2b_sale_new-carousel-list-change-fz">
<span class="MD-c2b_sale_new-carousel-list-special-panel">德阳</span>报价多25%<span class="MD-c2b_sale_new-carousel-list-deal">成交</span>
</p>
                                                                                    <p class="MD-c2b_sale_new-carousel-list-text"><span class="MD-c2b_sale_new-carousel-list-strong-panel">西安</span>报价多6%</p>
                                        </div>
<div>
</div></div></li></ul>
</div>
</div>
<p class="MD-c2b_sale_new-carousel-list-hd"></p>
</div>
</div>
</div>
    <div class="MD-c2b_sale_new-c2b_car_sale_introduce-p-car-sale">
<div class="MD-c2b_sale_new-c2b_car_sale_introduce-deal-quick">
<div class="MD-c2b_sale_new-c2b_car_sale_introduce-deal-quick-box">
<div class="MD-c2b_sale_new-c2b_car_sale_introduce-deal-text">
<p class="MD-c2b_sale_new-c2b_car_sale_introduce-deal-title">卖的快</p>
<p class="MD-c2b_sale_new-c2b_car_sale_introduce-text-small"><img src="../picture/text01@2x_e738dd2.png" width="426px"></p>
</div>
</div></div>
<div class="MD-c2b_sale_new-c2b_car_sale_introduce-safe-reliable">
<div class="MD-c2b_sale_new-c2b_car_sale_introduce-safe-reliable-box">
<div class="MD-c2b_sale_new-c2b_car_sale_introduce-safe-reliable-text">
<p class="MD-c2b_sale_new-c2b_car_sale_introduce-safe-reliable-title">透明交易</p>
<p class="MD-c2b_sale_new-c2b_car_sale_introduce-text-small"><img src="../picture/text02@2x_e7ca7d6.png" width="390px"></p>
</div>
</div>
</div>
    <div class="MD-c2b_sale_new-question-question-wrap">
<span class="MD-c2b_sale_new-question-title">常见问题</span>
<div class="MD-c2b_sale_new-question-questionCon">
<div class="MD-c2b_sale_new-question-quesli">
<span class="MD-c2b_sale_new-question-questip">1.优信的卖车模式是什么？</span>
<p class="MD-c2b_sale_new-question-questxt">借助优信全国的网络为车主找寻意向最强的买家，上门验车，即时报价，立刻打款。</p>
</div>
<div class="MD-c2b_sale_new-question-quesli MD-c2b_sale_new-question-quesRight">
<span class="MD-c2b_sale_new-question-questip">2.为什么选择在优信卖车？</span>
<p class="MD-c2b_sale_new-question-questxt">(1) 价格高：优信全国超过270个城市的买家网络，最高帮您多卖25%<br>
(2) 卖的快：最快当天预约，当天成交，当天付款<br>
(3) 透明交易：买卖交易面对面，中间环节无干扰</p>
</div>
<div class="MD-c2b_sale_new-question-quesli MD-c2b_sale_new-question-change-h270">
<span class="MD-c2b_sale_new-question-questip">3.在优信卖车个人信息是否安全？</span>
<p class="MD-c2b_sale_new-question-questxt">优信将对您的个人信息进行全程保密，确保安全信息不泄露</p>
</div>
<div class="MD-c2b_sale_new-question-quesli MD-c2b_sale_new-question-quesRight MD-c2b_sale_new-question-change-h270">
<span class="MD-c2b_sale_new-question-questip">4.通过哪里可以找到优信卖车？</span>
<p class="MD-c2b_sale_new-question-questxt">登录优信二手车App或官网www.xin.com预约卖车(支持自主或电话预约服务)</p>
</div>
</div>
</div></div>
<script>
    /*window.onload=function(){
         window.__json4fe__.ename = $.cookie("ename")?$.cookie("ename"):"xian";
    }*/
</script>
</div>
        <div class="MD-common-footer-footer">
<div class="MD-common-footer-footer-center">
<div class="MD-common-footer-nav">
<a href="index51.html" class="MD-common-footer-nav-btn" rel="nofollow">关于我们</a>
<a href="index52.html" class="MD-common-footer-nav-btn" rel="nofollow">加入我们</a>
<a href="index53.html" class="MD-common-footer-nav-btn" rel="nofollow">帮助中心</a>
<a href="index54.html" class="MD-common-footer-nav-btn" rel="nofollow">用户反馈</a>
<a href="sitemap.html" class="MD-common-footer-nav-btn">网站地图</a><a href="index55.html" class="MD-common-footer-nav-btn">Investors</a>
<a href="index56.html" class="MD-common-footer-nav-btn">检测设备介绍</a></div>
<div class="MD-common-footer-footer-code">
<img src="../picture/code_aac7b16.jpg" class="MD-common-footer-code-img">
<div class="MD-common-footer-code-txt">
<span class="MD-common-footer-span-tit">微信公众号</span>
<span class="MD-common-footer-span-txt">资讯动态早知道</span>
</div>
</div>
<div class="MD-common-footer-footer-code2">
<img src="../picture/code_1_0dd0597.jpg" class="MD-common-footer-code-img">
<div class="MD-common-footer-code-txt">
<span class="MD-common-footer-span-tit">APP下载</span>
<span class="MD-common-footer-span-txt">车源更新不错过</span>
</div>
</div>
<div class="MD-common-footer-desc MD-common-footer-none">
<b href="javascript:;" class="MD-common-footer-more"></b>
</div>
<div class="MD-common-footer-footer-bot">
<span class="MD-common-footer-copy">业务合作单位：优信拍（北京）二手车鉴定评估有限公司</span>
<div class="MD-common-footer-copy">权利声明：本网站对展示的车辆信息、检测报告、视频、图片等内容享有合法权利，属于优信集团的重要经营资源，未经许可，不得非法转载、复制等方式使用。</div>
<div class="MD-common-footer-copy">Copyright © 2015-2019 优估 All Rights Reserved    版权所有 优估(上海) 信息科技有限公司<span class="MD-common-footer-tel">联系电话：021-10106088</span></div>
<div class="MD-common-footer-gongan">
<span class="MD-common-footer-copy">沪ICP备15036207号-2</span>
<a class="MD-common-footer-copy" rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img class="MD-common-footer-gonan" src="../picture/gongan.png">京公网安备 11010502034103号</a>
<span class="MD-common-footer-copy">沪通信管自贸【2018】21号</span>
<a class="MD-common-footer-copy" href="javascript:;" target="_blank">
广播电视节目制作经营许可证：（京）字第07856号</a>
<a class="MD-common-footer-copy" href="javascript:;" target="_blank">
网络文化经营许可证：京网文【2017】 4097-460号</a>
</div>
<div class="MD-common-footer-credit">
<a class="MD-common-footer-link" rel="nofollow" href="javascript:;" nopass="1" target="_blank">
<img class="MD-common-footer-img" src="../picture/url_wx_047514b.png">
</a>
<a class="MD-common-footer-link" rel="nofollow" href="javascript:;" nopass="1" target="_blank">
<img class="MD-common-footer-img" src="../picture/knetSealLogo.png">
</a>
<a class="MD-common-footer-link" rel="nofollow" href="javascript:;" nopass="1" target="_blank">
<img class="MD-common-footer-img" src="../picture/bot_logo2_9d14ede.png">
</a>
<a rel="nofollow" class="MD-common-footer-link" href="javascript:;" nopass="1" target="_blank"><img src="../picture/bot_logo3.png"></a>
<a rel="nofollow" href="javascript:;" nopass="1" target="_blank"><img src="../picture/5c35686b00ead372284.png" height='42'></a>
</div>
</div>
</div>
</div>
        <script type="text/javascript" src="../js/base_df8d05c.js"></script>
<script type="text/javascript" src="../js/c2b_car_sale_new_d600c9f.js"></script>
    <!--<script>var _abqVersion='17112101';var _abq=_abq||[];_abq.push(['_pageview']);!function(t,e){var a=t.createElement(e);a.async=!0,a.src=('https:'==t.location.protocol?'https://':'http://')+(location.hostname == 'www.xin.com' ? 'ab.xin.com' : 'ab.test.xin.com')+'/ab.js?v='+_abqVersion;var c=t.getElementsByTagName(e)[0];c.parentNode.insertBefore(a,c)}(document,'script');</script>-->

<script src="../js/newAb_e9e3cdc.js"></script>
<script src="../js/ab_5ecdcd2.js"></script>

<script type="text/javascript">
    var _abq = _abq || [];
    _abq.push(['_pageview']);
</script>
    <script>
$(function(){
    $(document).on('click', function(e){
        if(!window._abq) return;
        
        var target = $(e.target);

        while(target.length > 0 && target.get(0) != document){
            var abevent = target.attr('abevent') || target.attr('uxevent');

            if(abevent){
                if(abevent.indexOf('/') == 0){
                    if(abevent) _abq.push(['_track'].concat(abevent.substr(1).split('/')));
                }else{
                    if(abevent) _abq.push(['_track'].concat(abevent.split('/')));
                }
            }

            target = target.parent();
        }
    });
});


/**
 * 日志打点(针对曝光)
 *
 * @param pl 标识
 * @param ds 打点内容
 */
function uxl_exposure_track(pl, ds) {
    if(!_abq) _abq = [];
    var _params = {"pl" : pl, "ds" : ds};
    _abq.push(['_eventReq', _params]);
}
/*
 * 点击埋点的方法如果不存在，则添加
 */
if(typeof uxl_track != 'function') {
    // ab统计
    function uxl_track(event) {
        if(!_abq) _abq = [];
        event = event || '';
        _abq.push(['_track'].concat(event.split('/')));
    }
}

</script>
<script type="text/javascript">!function(){    require('newcar-www:widget/c2b_sale_new/c2b_car_sale_top/c2b_car_sale_top.es6').init({        openapix:'https://openapix.xin.com',        c2boCityTag:'1',        sn:'259521e454db6e9c00d8b747b206d71b'    });}();
!function(){    require('newcar-www:widget/c2b_sale_new/carousel-list/carousel-list.es6').init();}();
!function(){    require('newcar-www:widget/c2b_sale_new/c2b_car_sale_introduce/c2b_car_sale_introduce.es6').init();}();
!function(){    require('newcar-www:widget/c2b_sale_new/c2b_car_sale/c2b_car_sale.es6').init();}();
!function(){    require('newcar-www:widget/common/footer/footer.es6').init();}();</script></div></body></html>